.navbar {
  height: 75px;
  padding: 0 35px;
  margin: 12px;
  background: linear-gradient(135deg, #fff0f5, #ffe4ec);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(255, 105, 180, 0.18);
  font-family: Arial, sans-serif;
  position: sticky;
  top:0px;
  z-index:9
}

.logoBox {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logoBox img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.logoBox h2 {
  color: #d63384;
  font-size: 24px;
  margin: 0;
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
  background: white;
  border-radius: 30px;
  padding: 5px;
  box-shadow: inset 0 0 0 1px #ffd1dc;
  height : 60px
}

.searchBox input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 14px;
  margin: 0;
}

.searchBox button {
  border: none;
  background: #ff4f93;
  color: white;
  padding: 11px 18px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  width: 100px;
  margin: 0px;
}

.searchBox button:hover {
  background: #d63384;
}

.navLinks {
  display: flex;
  gap: 25px;
  align-items: center;
}

.navLinks a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  position: relative;
}

.navLinks a:hover {
  color: #d63384;
}

.navLinks a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #d63384;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
  border-radius: 10px;
}

.navLinks a:hover::after {
  width: 100%;
}